openapi: 3.1.0
info:
  title: Graphn API
  version: 0.7.0
  description: |
    Public API for the Graphn AI platform.

    The Graphn API is the customer-facing surface for the agent platform:
    workflows, agents, functions, MCP servers, knowledge bases, executions,
    triggers, storage, organizations, and OpenAI-compatible inference
    (chat completions, model listings, and TTS).

    ## Hosts

    The API is split across four hosts. Operations are tagged and use
    per-operation `servers` overrides so generated SDKs that respect
    OpenAPI 3.1 per-operation `servers` (openapi-python-client >= 0.20,
    openapi-generator >= 6.0, oapi-codegen >= 1.16, @hey-api/openapi-ts)
    route correctly out of the box.

    - **Control plane** (`https://cp.graphn.ai`) — workspace-scoped CRUD
      for agents, functions, MCP servers, workflows, knowledge bases,
      secrets, custom models, storage buckets, organizations, and billing.
    - **Inference** (`https://model.graphn.ai`) — OpenAI-compatible
      chat completions, model listings, and TTS.
    - **Gateway** (`https://gateway.graphn.ai`) — async workflow runs,
      batch jobs, and UUID-keyed execution polling / cancel.
    - **Storage** (`https://storage.graphn.ai`) — S3-style object API
      used by the CLI (`graphn storage`). The control plane also exposes
      a REST overlay at `/v1/{workspaceId}/storages`.

    ## Authentication

    All endpoints require a workspace-scoped API key passed as
    `Authorization: Bearer gn_...`. Create keys in the Graphn dashboard
    or via `createApiKey`. Send `X-Workspace-Id` when the key is not
    already workspace-scoped.

    ## Errors

    Control-plane errors return a JSON envelope:

    ```json
    { "code": "NOT_FOUND", "message": "model not found" }
    ```

    The `code` field is a machine-readable identifier; `message` is
    intended for end-user display. Inference errors use the OpenAI-style
    `InferenceError` envelope.
  contact:
    name: Graphn OpenAPI Issues
    url: https://github.com/voltagepark/graphn-openapi/issues
  license:
    name: Proprietary
servers:
  - url: https://cp.graphn.ai
    description: Control plane (default)
    x-graphn-name: control-plane
  - url: https://model.graphn.ai
    description: Inference
    x-graphn-name: inference
  - url: https://gateway.graphn.ai
    description: Gateway (async, batch, UUID executions)
    x-graphn-name: gateway
  - url: https://storage.graphn.ai
    description: Object storage (S3-style)
    x-graphn-name: storage
security:
  - ApiKeyAuth: []
tags:
  - name: custom-models
    description: |
      Manage custom model imports — register a HuggingFace or S3-hosted
      model, monitor its deployment, and tear it down. Inference against
      a `ready` custom model uses the `chat.completions` endpoint with
      the model's `name`.
  - name: secrets
    description: |
      Workspace-scoped opaque secrets (e.g. HuggingFace tokens, third-party
      API keys) referenced by other resources via their `id`.
  - name: chat
    description: OpenAI-compatible chat completions.
  - name: models
    description: List available models for a workspace.
  - name: tts
    description: Text-to-speech synthesis and voice catalog.
  - name: imported-models
    description: |
      Import an external OpenAI-compatible endpoint into a workspace,
      plus probe helpers (`discover-models`, `test-connection`) on the
      inference host.
  - name: billing
    description: Organization billing account, top-up, and usage operations.
  - name: admin-billing
    description: Administrative billing overrides and credit grants.
  - name: agents
    description: Workspace-scoped agent CRUD, publish, and run.
  - name: functions
    description: Workspace-scoped Python functions (FES sandboxes) and builtins.
  - name: mcp-servers
    description: Hosted and remote MCP servers, tools, and runtime control.
  - name: workflows
    description: Workflow CRUD, bundle, publish, versions, run, and test.
  - name: executions
    description: |
      Poll workflow executions. `exec_` / `test_` ids live on the control
      plane; UUID operation ids live on the gateway.
  - name: triggers
    description: Cron and webhook triggers that invoke a published workflow.
  - name: knowledgebases
    description: Vector knowledge bases, documents, search, and async ingest.
  - name: organizations
    description: Organizations the caller belongs to.
  - name: workspaces
    description: Workspaces inside an organization.
  - name: members
    description: Organization and workspace membership.
  - name: invitations
    description: Invite users to an organization or workspace.
  - name: api-keys
    description: Workspace-scoped API keys (`gn_...`).
  - name: blueprints
    description: Public workflow blueprint catalog and one-shot deploy.
  - name: connectors
    description: Connector catalog used when wiring third-party secrets.
  - name: embed
    description: Standalone text embeddings (same models as knowledge bases).
  - name: storages
    description: REST overlay for workspace object stores (UI / SDK).
  - name: objects
    description: S3-style object API on the storage host (CLI `graphn storage`).
  - name: batch
    description: Gateway batch jobs over a published workflow.
  - name: async
    description: Gateway async workflow runs (UUID operation ids).

paths:
  /v1/{workspaceId}/custom-models:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
    post:
      operationId: createCustomModel
      tags: [custom-models]
      summary: Register a new custom model
      description: |
        Begin import + deployment of a custom model. The response returns
        immediately with `status: "deploying"`. Poll `getCustomModel`
        (or use the SDK's `wait_until_ready`) until the status reaches
        `ready` or `failed`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomModelCreate'
            examples:
              huggingface:
                summary: HuggingFace import
                value:
                  name: my-llama
                  huggingface_model_id: meta-llama/Llama-3-8B-Instruct
                  hf_token_secret_id: sec_01HABCXYZ
                  gpu_count: 1
                  max_replicas: 1
              s3PresignedUrl:
                summary: S3 presigned URL import
                value:
                  name: internal-model
                  weight_source: s3_presigned
                  huggingface_model_id: Qwen/Qwen3-0.6B
                  s3_url: https://my-bucket.s3.amazonaws.com/model.tar.gz?X-Amz-...
      responses:
        '201':
          description: Model accepted; deployment started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomModel'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      operationId: listCustomModels
      tags: [custom-models]
      summary: List custom models in a workspace
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/ContinueToken'
      responses:
        '200':
          description: A page of custom models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomModelList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/custom-models/{modelId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ModelId'
    get:
      operationId: getCustomModel
      tags: [custom-models]
      summary: Get a custom model
      description: |
        Returns the latest known state of the custom model, enriched with
        live deployment status (replica counts, endpoint readiness).
      responses:
        '200':
          description: Custom model record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomModel'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteCustomModel
      tags: [custom-models]
      summary: Delete a custom model
      description: |
        Tears down the deployment and removes the model record. Idempotent.
      responses:
        '204':
          description: Model deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateCustomModel
      tags: [custom-models]
      summary: Update mutable fields on a custom model
      description: |
        Update the model record (cp-side) and propagate the change to the
        live deployment when applicable. Only a small set of fields are
        mutable post-create; immutable fields (`huggingface_model_id`,
        `weight_source`, GPU topology, …) are intentionally not exposed
        here — change them by deleting and re-creating the model.

        Today the only fields that take effect immediately on the live
        deployment are `min_replicas` and `max_replicas`: cp updates the
        DynamoDB record, then issues an AF-side in-place patch of the
        underlying InferenceService's predictor scale bounds (no rolling
        restart, no downtime). KServe propagates `max_replicas` through
        to the KEDA `ScaledObject`'s `maxReplicaCount` on its next
        reconcile.

        Other fields update the model record only and take effect on the
        next deployment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomModelUpdate'
            examples:
              pinReplicas:
                summary: Pin one replica online (disable scale-to-zero)
                value:
                  min_replicas: 1
                  max_replicas: 1
              widenScalingCeiling:
                summary: Raise the autoscaling ceiling
                value:
                  max_replicas: 3
      responses:
        '200':
          description: Updated model record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomModel'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/custom-models/{modelId}/refresh:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ModelId'
    post:
      operationId: refreshCustomModel
      tags: [custom-models]
      summary: Refresh a custom model's status
      description: |
        Forces a re-fetch of live deployment status from the underlying
        cluster. Useful when a model has been scaled to zero or recently
        updated. The returned record may include refreshed `endpoint`,
        `status`, and `error_message` fields.
      responses:
        '200':
          description: Refreshed model record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomModel'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/custom-models/{modelId}/wake:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ModelId'
    post:
      operationId: wakeCustomModel
      tags: [custom-models]
      summary: Wake a scaled-to-zero custom model
      description: |
        Custom models scale to zero replicas after `cooldown_seconds` of
        inactivity. Calling `wake` brings the deployment back up to its
        configured `min_replicas` (or 1 if `min_replicas` is 0). Returns
        immediately; poll `getCustomModel` until `status: "ready"` and a
        non-empty `endpoint`.
      responses:
        '200':
          description: Wake initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomModel'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Model has no active deployment to wake.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/{workspaceId}/custom-models/{modelId}/gpu-hours:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ModelId'
    get:
      operationId: getCustomModelGpuHours
      tags: [custom-models]
      summary: Get cumulative GPU-hours billed for a custom model
      responses:
        '200':
          description: GPU-hours total since model creation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GpuHoursResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/custom-models/access:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
    get:
      operationId: checkCustomModelAccess
      tags: [custom-models]
      summary: Check whether the workspace is allowlisted for custom models
      description: |
        Custom model imports are gated by an internal allowlist while the
        feature is in beta. Use this endpoint before showing import UI.
      responses:
        '200':
          description: Allowlist check result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomModelAccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/custom-models/validate:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
    post:
      operationId: validateCustomModel
      tags: [custom-models]
      summary: Validate a HuggingFace model before import
      description: |
        Inspects the HuggingFace `config.json` to verify the model
        architecture is supported, estimates GPU memory requirements,
        and reports whether the model supports speculative decoding.
        Always returns 200 — failures are reflected by `valid: false`
        and a populated `error` field.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateModelRequest'
      responses:
        '200':
          description: Validation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateModelResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/custom-models/supported-architectures:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
    get:
      operationId: getSupportedArchitectures
      tags: [custom-models]
      summary: List model architectures supported for custom-model import
      description: |
        Returns the static list of HuggingFace model architectures the
        platform's serving runtimes can deploy, alongside the capability
        tags (`tool_calling`, `vision`, etc.) each architecture exposes.
        Use this to drive the UI's architecture/capability filters before
        calling `validateCustomModel`.

        The list is updated alongside platform runtime upgrades; clients
        should not cache it for more than a build cycle.
      responses:
        '200':
          description: Architecture catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedArchitectures'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/secrets:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
    post:
      operationId: createSecret
      tags: [secrets]
      summary: Create a workspace secret
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretCreate'
            examples:
              huggingfaceToken:
                summary: HuggingFace access token
                value:
                  name: hf-token
                  value: hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      responses:
        '201':
          description: Secret created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      operationId: listSecrets
      tags: [secrets]
      summary: List workspace secrets
      description: |
        Returns secret metadata only — `value_preview` is the first few
        characters of the value, suitable for UI display. The full
        plaintext value is never returned.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/ContinueToken'
      responses:
        '200':
          description: A page of secrets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/secrets/{secretId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/SecretId'
    put:
      operationId: updateSecret
      tags: [secrets]
      summary: Update a secret's value
      description: |
        Rotates the secret's plaintext value. The secret's `name` and
        other metadata are immutable; create a new secret if you need
        a different name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretUpdate'
      responses:
        '200':
          description: Secret updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteSecret
      tags: [secrets]
      summary: Delete a secret
      responses:
        '204':
          description: Secret deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/chat/completions:
    post:
      operationId: createChatCompletion
      tags: [chat]
      summary: OpenAI-compatible chat completion
      description: |
        Accepts the standard OpenAI chat completion request body. When
        `stream: true`, the response is a `text/event-stream` of OpenAI
        SSE chunks. Use a custom model's `name` (or a built-in model's
        alias) as the `model` field.
      servers:
        - url: https://model.graphn.ai
      parameters:
        - $ref: '#/components/parameters/WorkspaceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
            examples:
              builtIn:
                summary: Built-in model
                value:
                  model: qwen3-80b
                  messages:
                    - { role: user, content: "Write a haiku about GPUs." }
              customModel:
                summary: Custom model with streaming
                value:
                  model: my-llama
                  stream: true
                  messages:
                    - { role: user, content: "Hi" }
      responses:
        '200':
          description: |
            OpenAI-compatible response. When `stream: true`, the body is
            a `text/event-stream` of OpenAI chunks; otherwise a JSON
            response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
            text/event-stream:
              schema:
                type: string
                description: "Newline-delimited OpenAI SSE chunks ending in `data: [DONE]`."
        '400':
          $ref: '#/components/responses/InferenceBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/InferenceNotFound'
        '503':
          $ref: '#/components/responses/InferenceUnavailable'

  /v1/models:
    get:
      operationId: listModels
      tags: [models]
      summary: List models available to the workspace
      description: |
        Returns built-in models, imported models, and custom models in
        OpenAI `/v1/models` format. Use the returned `id` as the `model`
        field on `createChatCompletion`.
      servers:
        - url: https://model.graphn.ai
      parameters:
        - $ref: '#/components/parameters/WorkspaceIdHeader'
      responses:
        '200':
          description: Model list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/tts:
    post:
      operationId: synthesizeSpeech
      tags: [tts]
      summary: Synthesize speech from text
      description: |
        Returns audio bytes in the format implied by `responseFormat`
        (Qwen models) or fixed by the upstream provider (Rime returns
        MP3). Streaming is provider-defined.
      servers:
        - url: https://model.graphn.ai
      parameters:
        - $ref: '#/components/parameters/WorkspaceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TTSRequest'
      responses:
        '200':
          description: Synthesized audio.
          content:
            audio/mpeg:
              schema: { type: string, format: binary }
            audio/wav:
              schema: { type: string, format: binary }
            audio/opus:
              schema: { type: string, format: binary }
            audio/flac:
              schema: { type: string, format: binary }
            audio/pcm:
              schema: { type: string, format: binary }
        '400':
          $ref: '#/components/responses/InferenceBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/InferenceNotFound'

  /v1/tts/voices:
    get:
      operationId: listTtsVoices
      tags: [tts]
      summary: List TTS voices for a model
      servers:
        - url: https://model.graphn.ai
      parameters:
        - name: model
          in: query
          required: true
          schema: { type: string }
          description: Model alias to list voices for.
        - $ref: '#/components/parameters/WorkspaceIdHeader'
      responses:
        '200':
          description: |
            Voice catalog. Schema is provider-specific; treat the
            response as opaque JSON keyed by `voices[].id`.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/InferenceBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/imported-models/discover-models:
    post:
      operationId: discoverImportedModels
      tags: [imported-models]
      summary: List models available at an external OpenAI-compatible endpoint
      description: |
        Calls `{endpoint}/models` using the API key resolved from the
        referenced workspace secret. Filters out non-chat models
        (embeddings, TTS, image, moderation, etc.).
      servers:
        - url: https://model.graphn.ai
      parameters:
        - $ref: '#/components/parameters/WorkspaceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscoverImportedModelsRequest'
      responses:
        '200':
          description: Discovered chat models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoverImportedModelsResponse'
        '400':
          $ref: '#/components/responses/InferenceBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          description: Upstream endpoint returned an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceError'

  /v1/imported-models/test-connection:
    post:
      operationId: testImportedModelConnection
      tags: [imported-models]
      summary: Test connectivity to an external chat model
      description: |
        Sends a single chat completion to the configured endpoint and
        returns the response text. Use to verify credentials and
        endpoint URL before importing.
      servers:
        - url: https://model.graphn.ai
      parameters:
        - $ref: '#/components/parameters/WorkspaceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestConnectionRequest'
      responses:
        '200':
          description: Test completion succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestConnectionResponse'
        '400':
          $ref: '#/components/responses/InferenceBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          description: Upstream endpoint returned an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceError'

  /v1/{orgId}/billing/account:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
    get:
      operationId: getBillingAccount
      tags: [billing]
      summary: Get organization billing account
      responses:
        '200':
          description: Billing account settings.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/BillingAccount'}
        '404': {$ref: '#/components/responses/NotFound'}
  /v1/{orgId}/billing/account/settings:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
    put:
      operationId: updateBillingAccountSettings
      tags: [billing]
      summary: Update organization billing settings
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/BillingSettingsUpdate'}
      responses:
        '200':
          description: Updated account.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/BillingAccount'}
        '400': {$ref: '#/components/responses/BadRequest'}
        '404': {$ref: '#/components/responses/NotFound'}
  /v1/{orgId}/billing/topups:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
    post:
      operationId: createBillingTopUp
      tags: [billing]
      summary: Charge the saved payment method and add credits
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/BillingTopUpRequest'}
      responses:
        '200':
          description: Top-up completed or replayed.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/BillingGrantResult'}
        '402': {description: Payment failed.}
        '428': {description: No payment method is available.}
  /v1/{orgId}/billing/setup-intent:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
    post:
      operationId: createBillingSetupIntent
      tags: [billing]
      summary: Create a payment-method setup intent
      responses:
        '200':
          description: Stripe SetupIntent client secret.
          content:
            application/json:
              schema:
                type: object
                required: [clientSecret]
                properties:
                  clientSecret: {type: string}
  /v1/{orgId}/billing/payment-methods:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
    get:
      operationId: listBillingPaymentMethods
      tags: [billing]
      summary: List saved payment methods
      responses:
        '200':
          description: Saved payment methods.
          content:
            application/json:
              schema:
                type: object
                required: [paymentMethods]
                properties:
                  paymentMethods:
                    type: array
                    items: {$ref: '#/components/schemas/PaymentMethod'}
  /v1/{orgId}/billing/payment-methods/{paymentMethodId}:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
      - name: paymentMethodId
        in: path
        required: true
        schema: {type: string}
    delete:
      operationId: detachBillingPaymentMethod
      tags: [billing]
      summary: Detach a saved payment method
      responses:
        '204': {description: Payment method detached.}
        '409': {description: The last payment method cannot be detached.}
  /v1/{orgId}/billing/payment-methods/{paymentMethodId}/default:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
      - name: paymentMethodId
        in: path
        required: true
        schema: {type: string}
    post:
      operationId: setDefaultBillingPaymentMethod
      tags: [billing]
      summary: Set the default payment method
      responses:
        '204': {description: Default payment method updated.}
  /v1/{orgId}/billing/invoices:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
      - name: limit
        in: query
        required: false
        schema: {type: integer, minimum: 1, maximum: 100}
    get:
      operationId: listBillingInvoices
      tags: [billing]
      summary: List billing statements
      responses:
        '200':
          description: Billing statements.
          content:
            application/json:
              schema:
                type: object
                required: [invoices]
                properties:
                  invoices:
                    type: array
                    items: {$ref: '#/components/schemas/Invoice'}
                  emptyReason:
                    type: string
                    enum: [no_billing_history, statements_not_generated_yet]
  /v1/{orgId}/billing/invoices/{periodStart}:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
      - name: periodStart
        in: path
        required: true
        schema: {type: string}
    get:
      operationId: getBillingInvoice
      tags: [billing]
      summary: Get billing statement detail
      responses:
        '200':
          description: Billing statement detail.
          content:
            application/json:
              schema:
                type: object
                required: [invoice]
                properties:
                  invoice: {$ref: '#/components/schemas/Invoice'}
  /v1/{orgId}/billing/free-grant:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
    post:
      operationId: claimBillingFreeGrant
      tags: [billing]
      summary: Claim the one-time welcome credit grant
      responses:
        '200':
          description: Grant claim result.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/FreeGrantResult'}
        '409': {description: The grant is not eligible or was already claimed.}
        '428': {description: A payment method must be linked first.}
  /v1/{orgId}/billing/tour-grant:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
    post:
      operationId: claimBillingTourGrant
      tags: [billing]
      summary: Claim the one-time cardless onboarding-tour credit grant
      responses:
        '200':
          description: Grant claim result.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/FreeGrantResult'}
        '403': {description: Only organization owners and admins may claim the grant.}
        '409': {description: The grant is not eligible or was already claimed.}
  /v1/{orgId}/billing/entitlements:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
    get:
      operationId: getBillingEntitlements
      tags: [billing]
      summary: Get the organization credit entitlements
      responses:
        '200':
          description: Current prepaid-credit state.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/BillingEntitlements'}
  /v1/{orgId}/billing/usage:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
      - name: filter
        in: query
        required: false
        schema:
          type: string
          enum: [ONE_DAY, SEVEN_DAY, THIRTY_DAY, ONE_YEAR]
          default: THIRTY_DAY
    get:
      operationId: getBillingUsage
      tags: [billing]
      summary: Get dollar-denominated usage over time
      responses:
        '200':
          description: Dense usage series for the selected period.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/BillingUsage'}
  /v1/admin/orgs/{orgId}/billing:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
    get:
      operationId: adminGetBilling
      tags: [admin-billing]
      summary: Get combined admin billing state
      responses:
        '200':
          description: Billing state, including whether an account exists.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/AdminBillingState'}
        '502': {description: Billing service unavailable.}
  /v1/admin/orgs/{orgId}/billing/overrides:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
    patch:
      operationId: adminUpdateBillingOverrides
      tags: [admin-billing]
      summary: Update administrative billing overrides
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/AdminBillingOverrides'}
      responses:
        '200':
          description: Updated billing state.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/AdminBillingState'}
        '400': {$ref: '#/components/responses/BadRequest'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {description: Conflicting update.}
        '502': {description: Billing service unavailable.}
  /v1/admin/orgs/{orgId}/billing/grants:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: {type: string}
    post:
      operationId: adminCreateBillingGrant
      tags: [admin-billing]
      summary: Add an administrative credit grant
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/AdminBillingGrantRequest'}
      responses:
        '200':
          description: Grant completed or replayed.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/BillingGrantResult'}
        '400': {$ref: '#/components/responses/BadRequest'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {description: Conflicting idempotency key.}
        '502': {description: Billing service unavailable.}

  /v1/{workspaceId}/agents:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    post:
      operationId: createAgent
      tags: [agents]
      summary: Create an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentCreate'
            examples:
              default:
                value:
                  name: researcher
                  spec:
                    instructions: You are a researcher.
                    model: gemma-4-31b-it
      responses:
        '201':
          description: Agent created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

    get:
      operationId: listAgents
      tags: [agents]
      summary: List agents
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/ContinueToken'
        - name: status
          in: query
          schema: {type: string}
        - name: workflow_id
          in: query
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/agents/dry-run:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    post:
      operationId: dryRunAgent
      tags: [agents]
      summary: Dry-run an inline agent spec
      description: |
        Forwards an inline agent + tools payload to the execution engine. Body is opaque JSON matching the IDE preview contract.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpaqueObject'
            examples:
              default:
                value:
                  instructions: Say hello
                  model: gemma-4-31b-it
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpaqueObject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '502':
          $ref: '#/components/responses/BadGateway'

  /v1/{workspaceId}/agents/by-name/{name}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    get:
      operationId: getAgentByName
      tags: [agents]
      summary: Get an agent by name
      parameters:
        - name: name
          in: path
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/agents/{agentId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/AgentId'

    get:
      operationId: getAgent
      tags: [agents]
      summary: Get an agent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateAgent
      tags: [agents]
      summary: Update an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentUpdate'
            examples:
              default:
                value:
                  name: researcher-v2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

    delete:
      operationId: deleteAgent
      tags: [agents]
      summary: Delete an agent
      responses:
        '204':
          description: Deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/agents/{agentId}/publish:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/AgentId'

    post:
      operationId: publishAgent
      tags: [agents]
      summary: Publish an agent version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishMessage'
            examples:
              default:
                value:
                  message: ready for prod
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/agents/{agentId}/archive:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/AgentId'

    post:
      operationId: archiveAgent
      tags: [agents]
      summary: Archive an agent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/agents/{agentId}/run:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/AgentId'

    post:
      operationId: runAgent
      tags: [agents]
      summary: Run a published agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentRunRequest'
            examples:
              default:
                value:
                  input: Summarize this.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpaqueObject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'

  /v1/{workspaceId}/functions:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    post:
      operationId: createFunction
      tags: [functions]
      summary: Create a function
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionCreate'
            examples:
              default:
                value:
                  name: add
                  type: custom
                  description: Add two numbers
      responses:
        '201':
          description: Function created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

    get:
      operationId: listFunctions
      tags: [functions]
      summary: List functions
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/ContinueToken'
        - name: status
          in: query
          schema: {type: string}
        - name: workflow_id
          in: query
          schema: {type: string}
        - name: type
          in: query
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/functions/builtins:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    get:
      operationId: listBuiltinFunctions
      tags: [functions]
      summary: List built-in functions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuiltinFunctionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/functions/dry-run:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    post:
      operationId: dryRunFunction
      tags: [functions]
      summary: Dry-run function files without persisting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionDryRunRequest'
            examples:
              default:
                value:
                  input: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionTestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/{workspaceId}/functions/by-name/{name}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    get:
      operationId: getFunctionByName
      tags: [functions]
      summary: Get a function by name
      parameters:
        - name: name
          in: path
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/functions/{functionId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/FunctionId'

    get:
      operationId: getFunction
      tags: [functions]
      summary: Get a function
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateFunction
      tags: [functions]
      summary: Update a function
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionUpdate'
            examples:
              default:
                value:
                  description: updated
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

    delete:
      operationId: deleteFunction
      tags: [functions]
      summary: Delete a function
      responses:
        '204':
          description: Deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/functions/{functionId}/publish:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/FunctionId'

    post:
      operationId: publishFunction
      tags: [functions]
      summary: Publish a function version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishMessage'
            examples:
              default:
                value:
                  message: v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/functions/{functionId}/test:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/FunctionId'

    post:
      operationId: testFunction
      tags: [functions]
      summary: Test a function
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionTestRequest'
            examples:
              default:
                value:
                  input: {'a': 1}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionTestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/mcp-servers:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    post:
      operationId: createMcpServer
      tags: [mcp-servers]
      summary: Create an MCP server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpServerCreate'
            examples:
              default:
                value:
                  name: github
                  type: hosted
      responses:
        '201':
          description: MCP server created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

    get:
      operationId: listMcpServers
      tags: [mcp-servers]
      summary: List MCP servers
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/ContinueToken'
        - name: status
          in: query
          schema: {type: string}
        - name: workflow_id
          in: query
          schema: {type: string}
        - name: type
          in: query
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServerList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/mcp-servers/by-name/{name}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    get:
      operationId: getMcpServerByName
      tags: [mcp-servers]
      summary: Get an MCP server by name
      parameters:
        - name: name
          in: path
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/mcp-servers/test-dry-run:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    post:
      operationId: testMcpServerDryRun
      tags: [mcp-servers]
      summary: Dry-run an MCP tool from inline files
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpDryRunTestRequest'
            examples:
              default:
                value:
                  tool_name: search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolTestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/mcp-servers/discover-tools:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    post:
      operationId: discoverMcpTools
      tags: [mcp-servers]
      summary: Discover tools from inline MCP files
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpDiscoverToolsRequest'
            examples:
              default:
                value:
                  files: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpDiscoverToolsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/mcp-servers/{serverId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ServerId'

    get:
      operationId: getMcpServer
      tags: [mcp-servers]
      summary: Get an MCP server
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateMcpServer
      tags: [mcp-servers]
      summary: Update an MCP server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpServerUpdate'
            examples:
              default:
                value:
                  endpoint_url: https://example.com/mcp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

    delete:
      operationId: deleteMcpServer
      tags: [mcp-servers]
      summary: Delete an MCP server
      responses:
        '204':
          description: Deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/mcp-servers/{serverId}/versions:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ServerId'

    get:
      operationId: listMcpServerVersions
      tags: [mcp-servers]
      summary: List MCP server versions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServerVersionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: saveMcpServerVersion
      tags: [mcp-servers]
      summary: Save an MCP server version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpSaveVersionRequest'
            examples:
              default:
                value:
                  message: snap
      responses:
        '201':
          description: Version saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/mcp-servers/{serverId}/publish:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ServerId'

    post:
      operationId: publishMcpServer
      tags: [mcp-servers]
      summary: Publish an MCP server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishMessage'
            examples:
              default:
                value:
                  message: v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/mcp-servers/{serverId}/start:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ServerId'

    post:
      operationId: startMcpServer
      tags: [mcp-servers]
      summary: Start a hosted MCP server
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'

  /v1/{workspaceId}/mcp-servers/{serverId}/stop:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ServerId'

    post:
      operationId: stopMcpServer
      tags: [mcp-servers]
      summary: Stop a hosted MCP server
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'

  /v1/{workspaceId}/mcp-servers/{serverId}/status:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ServerId'

    get:
      operationId: getMcpServerStatus
      tags: [mcp-servers]
      summary: Get MCP server runtime status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServerStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/mcp-servers/{serverId}/tools:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ServerId'

    get:
      operationId: listMcpServerTools
      tags: [mcp-servers]
      summary: List tools on an MCP server
      parameters:
        - name: refresh
          in: query
          schema: {type: boolean}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpToolList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/mcp-servers/{serverId}/tools/{toolName}/test:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ServerId'

    post:
      operationId: testMcpTool
      tags: [mcp-servers]
      summary: Test an MCP tool
      parameters:
        - name: toolName
          in: path
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolTestRequest'
            examples:
              default:
                value:
                  input: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolTestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/mcp-servers/{serverId}/refresh-tools:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ServerId'

    post:
      operationId: refreshMcpTools
      tags: [mcp-servers]
      summary: Refresh tools from a live MCP server
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'

  /v1/{workspaceId}/workflows:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    post:
      operationId: createWorkflow
      tags: [workflows]
      summary: Create a workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowCreate'
            examples:
              default:
                value:
                  name: qa
                  dsl: "name: qa"
      responses:
        '201':
          description: Workflow created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

    get:
      operationId: listWorkflows
      tags: [workflows]
      summary: List workflows
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/ContinueToken'
        - name: status
          in: query
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/workflows/dry-run:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    post:
      operationId: dryRunWorkflow
      tags: [workflows]
      summary: Dry-run an inline workflow DSL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpaqueObject'
            examples:
              default:
                value:
                  dsl: "name: qa"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '502':
          $ref: '#/components/responses/BadGateway'

  /v1/{workspaceId}/workflows/by-name/{name}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    get:
      operationId: getWorkflowByName
      tags: [workflows]
      summary: Get a workflow by name
      parameters:
        - name: name
          in: path
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/workflows/{workflowId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/WorkflowId'

    get:
      operationId: getWorkflow
      tags: [workflows]
      summary: Get a workflow
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateWorkflow
      tags: [workflows]
      summary: Update a workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowUpdate'
            examples:
              default:
                value:
                  description: QA pipeline
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

    delete:
      operationId: deleteWorkflow
      tags: [workflows]
      summary: Delete a workflow
      responses:
        '204':
          description: Deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/workflows/{workflowId}/bundle:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/WorkflowId'

    get:
      operationId: getWorkflowBundle
      tags: [workflows]
      summary: Get a workflow bundle
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowBundle'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      operationId: saveWorkflowBundle
      tags: [workflows]
      summary: Save a workflow bundle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowBundleSave'
            examples:
              default:
                value:
                  workflow: {'name': 'qa'}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowBundleSaveResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/workflows/{workflowId}/publish:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/WorkflowId'

    post:
      operationId: publishWorkflow
      tags: [workflows]
      summary: Publish a workflow version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishMessage'
            examples:
              default:
                value:
                  message: v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersionDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/workflows/{workflowId}/restore/{versionNumber}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/WorkflowId'

    post:
      operationId: restoreWorkflowVersion
      tags: [workflows]
      summary: Restore a workflow version into draft
      parameters:
        - name: versionNumber
          in: path
          required: true
          schema: {type: integer, minimum: 1}
        - name: restore_resources
          in: query
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/workflows/{workflowId}/versions:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/WorkflowId'

    get:
      operationId: listWorkflowVersions
      tags: [workflows]
      summary: List workflow versions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/workflows/{workflowId}/versions/{versionId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/WorkflowId'

    get:
      operationId: getWorkflowVersion
      tags: [workflows]
      summary: Get a workflow version
      parameters:
        - name: versionId
          in: path
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersionDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/workflows/{workflowId}/run:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/WorkflowId'

    post:
      operationId: runWorkflow
      tags: [workflows]
      summary: Run a published workflow
      description: |
        Uses the published snapshot when one exists; otherwise the draft DSL. Set `async_execution: true` to return immediately with an execution id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowRunRequest'
            examples:
              default:
                value:
                  input: {'q': 'hello'}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '502':
          $ref: '#/components/responses/BadGateway'

  /v1/{workspaceId}/workflows/{workflowId}/test:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/WorkflowId'

    post:
      operationId: testWorkflow
      tags: [workflows]
      summary: Test-run a workflow (draft or published)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowRunRequest'
            examples:
              default:
                value:
                  input: {'q': 'hello'}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '502':
          $ref: '#/components/responses/BadGateway'

  /v1/{workspaceId}/executions:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    get:
      operationId: listExecutions
      tags: [executions]
      summary: List executions for a workflow
      servers:
        - url: https://cp.graphn.ai
          description: Control plane (exec_ / test_ ids)
          x-graphn-name: control-plane
        - url: https://gateway.graphn.ai
          description: Gateway (UUID operation ids)
          x-graphn-name: gateway
      parameters:
        - name: workflow_id
          in: query
          required: true
          schema: {type: string}
        - name: limit
          in: query
          schema: {type: integer, minimum: 1}
        - name: page
          in: query
          schema: {type: integer, minimum: 1}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpaqueObject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '502':
          $ref: '#/components/responses/BadGateway'

  /v1/{workspaceId}/executions/{executionId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    get:
      operationId: getExecution
      tags: [executions]
      summary: Get an execution
      description: |
        `exec_` and `test_` ids are served by the control plane. UUID operation ids from async/batch submit are served by the gateway. Generated clients that honor per-operation servers can pick either host; the official Python SDK routes by id prefix.
      servers:
        - url: https://cp.graphn.ai
          description: Control plane (exec_ / test_ ids)
          x-graphn-name: control-plane
        - url: https://gateway.graphn.ai
          description: Gateway (UUID operation ids)
          x-graphn-name: gateway
      parameters:
        - name: executionId
          in: path
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'

  /v1/{workspaceId}/triggers:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    post:
      operationId: createTrigger
      tags: [triggers]
      summary: Create a trigger
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerCreate'
            examples:
              default:
                value:
                  name: hourly
                  workflow_id: wf_01
                  cron_schedule: 0 * * * *
      responses:
        '201':
          description: Trigger created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

    get:
      operationId: listTriggers
      tags: [triggers]
      summary: List triggers
      parameters:
        - name: workflow_id
          in: query
          required: true
          schema: {type: string}
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/ContinueToken'
        - name: search
          in: query
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/triggers/{triggerId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/TriggerId'

    get:
      operationId: getTrigger
      tags: [triggers]
      summary: Get a trigger
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateTrigger
      tags: [triggers]
      summary: Update a trigger
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerUpdate'
            examples:
              default:
                value:
                  enabled: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteTrigger
      tags: [triggers]
      summary: Delete a trigger
      responses:
        '204':
          description: Deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/workflows/{workflowId}/triggers:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/WorkflowId'

    post:
      operationId: createWorkflowTrigger
      tags: [triggers]
      summary: Create a trigger nested under a workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerCreateNested'
            examples:
              default:
                value:
                  name: hourly
                  cron_schedule: 0 * * * *
      responses:
        '201':
          description: Trigger created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

    get:
      operationId: listWorkflowTriggers
      tags: [triggers]
      summary: List triggers for a workflow
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/ContinueToken'
        - name: search
          in: query
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/workflows/{workflowId}/triggers/{triggerId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/WorkflowId'
      - $ref: '#/components/parameters/TriggerId'

    get:
      operationId: getWorkflowTrigger
      tags: [triggers]
      summary: Get a nested trigger
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateWorkflowTrigger
      tags: [triggers]
      summary: Update a nested trigger
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerUpdate'
            examples:
              default:
                value:
                  enabled: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteWorkflowTrigger
      tags: [triggers]
      summary: Delete a nested trigger
      responses:
        '204':
          description: Deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/imported-models:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    post:
      operationId: createImportedModel
      tags: [imported-models]
      summary: Import an external OpenAI-compatible model
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportedModelCreate'
            examples:
              default:
                value:
                  name: my-gpt
                  display_name: My GPT
                  endpoint: https://api.example.com/v1
                  model_id: gpt-4o
      responses:
        '201':
          description: Imported model created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportedModel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

    get:
      operationId: listImportedModels
      tags: [imported-models]
      summary: List imported models
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/ContinueToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportedModelList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/imported-models/{importedModelId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ImportedModelId'

    get:
      operationId: getImportedModel
      tags: [imported-models]
      summary: Get an imported model
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportedModel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateImportedModel
      tags: [imported-models]
      summary: Update an imported model
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportedModelUpdate'
            examples:
              default:
                value:
                  display_name: My GPT v2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportedModel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

    delete:
      operationId: deleteImportedModel
      tags: [imported-models]
      summary: Delete an imported model
      responses:
        '204':
          description: Deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/knowledgebases:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    post:
      operationId: createKnowledgebase
      tags: [knowledgebases]
      summary: Create a knowledge base
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KnowledgeBaseCreate'
            examples:
              default:
                value:
                  name: docs
      responses:
        '201':
          description: Knowledge base created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeBase'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    get:
      operationId: listKnowledgebases
      tags: [knowledgebases]
      summary: List knowledge bases
      description: |
        Default response is a JSON array. When `cursor` is supplied the service may return a paginated envelope instead.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - name: cursor
          in: query
          schema: {type: string}
      responses:
        '200':
          description: Knowledge bases.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KnowledgeBase'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/knowledgebases/models:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    get:
      operationId: listEmbeddingModels
      tags: [knowledgebases]
      summary: List embedding models
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingModelList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/{workspaceId}/knowledgebases/by-name/{name}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'

    get:
      operationId: getKnowledgebaseByName
      tags: [knowledgebases]
      summary: Get a knowledge base by name
      parameters:
        - name: name
          in: path
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeBase'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/{workspaceId}/knowledgebases/batch/get:
    parameters:
[...]
